body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 229, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vb;
    margin: 0;
}

.formulario{
    background-color: white;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 1px 1px 15px 5px rgba(91, 71, 96, 0.284);
    width: 350px;
}
.formulario h2{
    text-align: center;
    margin-bottom: 5px;
    color: rgb(32, 59, 83);
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(10, 22, 81);
}

input[type = "text"],
input[type="email"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid;
    border-radius: 50px; 
}
textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid;
    border-radius: 30px;
    resize: none;

}

button{
    
    width: 50%;
    position: relative;
    left: 25%;
    background-color: rgb(94, 238, 91);
    color: black;
    padding: 12px;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: rgb(57, 165, 122);
    position: relative;
    left: 15%;
    width: 70%;
    
    




}


.rodape{
    position: fixed;
    bottom: 0px;
}